<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <header>
    <div id="logo">
        <img src="../static/images/logo.jpg" alt="logo" id="logo">
    </div>
    
    <div class="nav-bar">
        <br>
        <br>
      <nav>
        <a href="home" class="btn btn-primary">Home</a>
        <a href="notification" class="btn btn-primary">User</a>
        <a href="contact" class="btn btn-primary">Contact</a>
        <a href="about" class="btn btn-primary">About</a>
        <a href="search" class="btn btn-primary">Search</a>
        </nav>
    </div>
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Status List</h1>
            <p class="lead font-italic">List of Status for CRUD</p>
            <hr class="my-4">
           
        </div>
    </div>
</div>
</body>
</html>