<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action=" " method="post" autocomplete="off">
        {% csrf_token %}

    
    {{form}}

    <button type="submit" class="btn btn-success btn-block btn-lg">
        Submit</button>
    <button><a href="{% url 'status_list' %}">Back to list</a> </button>
        
    </form> 
</body>
</html>